@model CreateRoleViewModel


@{
    ViewData["Title"] = "CreateRole";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}





<p style="margin-bottom:20px;text-align:right;direction:rtl;font-size:16px;">ایجاد نقش جدید</p>

<div style="font-size:16px;">
    @if (ViewBag.UnValid != null)
    {
        <div asp-validation-summary="All"
             class="alert alert-danger" style="direction:rtl;text-align:right;"></div>
    }



    <form asp-action="CreateRole" asp-controller="RoleManager" method="post" asp-antiforgery="true">

        <div class="row" style="text-align:right;direction:rtl;margin-bottom:20px;">
            <div class="col-2">
                <label asp-for="RoleName"></label>
            </div>
            <div class="col-5">
                <input class="input-group-text" asp-for="RoleName" style="direction:rtl;text-align:right;" />
            </div>

        </div>

        <table class="table table-dark" style="direction:rtl;text-align:right;">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th>نام وظیفه</th>
                    <th> تخصیص یا عدم تخصیص وظیفه به نقش</th>
                </tr>
            </thead>

            <tbody>
                @{ int counter = 1;}
                @for (int i = 0; i < Model.PermissionOut.Count; i++)
                {
                    <tr>
                        <th scope="row">@(counter)</th>
                        <td>@Model.PermissionOut[i].Text</td>
                        <td>
                            <input type="checkbox" asp-for="PermissionOut[i].Selected" />
                            <input type="hidden" asp-for="PermissionOut[i].Value" hidden />
                            <input type="hidden" asp-for="PermissionOut[i].Text" hidden />
                        </td>
                    </tr>


                    counter++;

                }

                @for (int i = 0; i < Model.PermissionIn.Count; i++)
                {
                    <tr>
                        <th scope="row">@counter</th>
                        <td>@Model.PermissionIn[i].Text</td>
                        <td>
                            <input type="checkbox" asp-for="PermissionIn[i].Selected" />
                            <input type="hidden" asp-for="PermissionIn[i].Value" hidden />
                            <input type="hidden" asp-for="PermissionIn[i].Text" hidden />
                        </td>
                    </tr>

                    counter++;

                }


            </tbody>
        </table>

        <input type="submit" class="btn btn-success" value="ثبت" style="float:right;margin-top:20px;" />
    </form>


    <a class="btn btn-primary" asp-action="ShowRoles" asp-controller="RoleManager">بازگشت به صفحه قبل</a>

</div>




