@model RoleUpdateViewModel
@{
    ViewData["Title"] = "UpdateRole";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    <div class="card">
        <div class="card-body">

            <div class="row gutters">

                <form class="form-inline col-12" asp-action="UpdateRole" asp-controller="RoleManager"
                      asp-antiforgery="true" method="post"
                      style="direction:rtl;text-align:right;">
                    <div asp-validation-summary="ModelOnly">

                    </div>

                    <input asp-for="RoleId" value="@Model.RoleId" hidden readonly />


                    <div class="col-xl-4 col-lg col-md-6 col-sm-8 col-12">
                        
                            <label style="display:block;text-align:right">نام نقش</label>
                       
                       
                        @*<input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="@Model.OldRoleName">*@
                        <p>@Model.OldRoleName</p>
                    </div>



                    <div class="col-xl-4 col-lg col-md-6 col-sm-8 col-12">

                        <label style="display:block;text-align:right">نام جدید نقش</label>
                        <input type="text" class="form-control" asp-for="NewRoleName" placeholder="نام نقش جدید">
                        <span asp-validation-for="NewRoleName" class="validation"></span>
                    </div>


                    <div class="col-12">
                        <input value="ثبت" style="width:130px;margin-top:30px;" type="submit" class="btn btn-block btn-primary">

                    </div>
                </form>

                <div class="col-12">
                    <a style="float:left;width:130px;" class="btn btn-primary" asp-action="ShowRoles" asp-controller="RoleManager">بازگشت به صفحه قبل</a>

                </div>

               
            </div>
        </div>
    </div>
</div>



