

    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">


        <div class="card"  style="height:400px;">
            <div class="card-header">
                <div class="card-title">آمار بازدید کاربران بر اساس مرورگر ها در یک ماه گذشته</div>
            </div>
            <div class="card-body">
                <div id="basic-donut-graph-monochrome-gradient" style="min-height: 289.992px;">
                   
                </div>
                <div class="resize-triggers"><div class="expand-trigger"><div style="width: 904px; height: 331px;"></div></div><div class="contract-trigger"></div></div>
            </div>
        </div>

    </div>