<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12"  >
    <div class="card" style="height:400px;">
        <div class="card-header">
            <div class="card-title">برترین دستگاه های مورد استفاده کاربران در یک ماه گذشته</div>
        </div>
        <div class="card-body">
            <div id="donutColors" class="chart-height"> </div>
        </div>
    </div>

</div>