

<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    <div class="card">
        <div class="card-header">
            <div class="card-title">تعداد بازدید کاربران در هفته گذشته</div>
        </div>
        <div class="card-body">
            <div id="basic-area-graph"></div>
            <div class="resize-triggers">
                <div class="expand-trigger">
                    <div style="width: 1824px; height: 356px;">
                    </div>
                </div>
                <div class="contract-trigger">
                </div>
            </div>
        </div>
    </div>
</div>


