<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/twitter-bootstrap/css/bootstrap-reboot.css" rel="stylesheet" />
    <link href="~/twitter-bootstrap/css/bootstrap-grid.css" rel="stylesheet" />
    <link href="~/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>

<body>
    <div class="header">


        <div class="header" style="direction:rtl;text-align:right;">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" href="#">منوی کاربری</a>

                <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                    <ul class="navbar-nav  mt-2 mt-lg-0">
                        <li class="nav-item active">
                            <a class="nav-link" asp-action="index" asp-controller="home">خانه </a>

                        </li>



                        @if (User.Identity.IsAuthenticated)
                        {

                            <li class="nav-item">
                                <a class="nav-link" asp-action="logout" asp-controller="account">خروج</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-action="login" asp-controller="account">ورود</a>
                            </li>
                        }

                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </div>
            </nav>
        </div>




    </div>


    <div class="row">

        <div class="container col-8" style="margin-top:30px;">
            @RenderBody()
        </div>

        @if (User.Identity.IsAuthenticated)
        {
            <div class="col-2">

                @await Component.InvokeAsync("NavBar")

            </div>
        }


    </div>
   
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/jquery-ui.min.js"></script>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/twitter-bootstrap/js/bootstrap.js"></script>
    @RenderSection("scripts", false)

    <script>
        var toggler = document.getElementsByClassName("caret");
        var i;

        for (i = 0; i < toggler.length; i++) {
            toggler[i].addEventListener("click", function () {
                this.parentElement.querySelector(".nested").classList.toggle("active");
                this.classList.toggle("caret-down");
            });
        }


    </script>
</body>
</html>
