
@{
    ViewData["Title"] = "EmailConfirm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>ایمیلی حاوی تایید نامه برای ایمیل وارد شده شما ارسال شده است.</p>
<p>لطفا ابتدا ایمیل خود را تایید کنید</p>

