
@{
    ViewData["Title"] = "EmailConfirm";
   
}
<div class="row gutters">

    <div class="col-12" style="margin-top:50px;text-align:center;direction:rtl;font-size:16px;font-weight:400">
        <p>ایمیلی حاوی تایید نامه برای ایمیل وارد شده شما ارسال شده است.</p>
        <p>لطفا از طریق لینک ارسالی برای ایمیلتان ، حساب کاربری خود را فعال کنید.</p>
    </div>
</div>


