@model ChangePasswrodViewModel
@{
    ViewData["Title"] = "ChangePassword";
   // Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>تغییر رمز عبور</h3>

<div class="row">
    @if(ViewData["success"] != null)
    {
        <div class="col-12 alert alert-success">
            عملیات با موفقیت انجام شد
        </div>
    }
    <form class="col-8" asp-action="ChangePassword" asp-controller="Account"
          method="post" asp-antiforgery="true">
        <div asp-validation-summary="ModelOnly">

        </div>
        <input hidden asp-for="UserId" />
        <div class="col-xl-4 col-lg col-md-4 col-sm-4 col-12">
            <label>رمز عبور قدیمی</label>
            <input  class="form-control" type="password" asp-for="OldPassword" placeholder="رمز عبور قبلی" />
            <span class="validation" asp-validation-for="OldPassword"></span>
        </div>



        <div class="col-xl-4 col-lg col-md-4 col-sm-4 col-12">
            <label>رمز عبور جدید</label>
            <input class="form-control" type="password" asp-for="Password" placeholder="رمز عبور جدید" />
            <span class="validation" asp-validation-for="Password"></span>
        </div>

        <div class="col-xl-4 col-lg col-md-4 col-sm-4 col-12">
            <label>تکرار رمز عبور جدید</label>
            <input class="form-control" type="password" asp-for="ConfirmPassword" placeholder="تکرار رمز عبور" />
            <span class="validation" asp-validation-for="ConfirmPassword"></span>
        </div>

        <div class="col-3">
            <input class="btn btn-success btn-block" style="margin-top:30px;" type="submit" value="اعمال تغییرات" />

        </div>
    </form>
  
</div>