@model string
@{
    ViewData["Title"] = "ForgetPassword";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row col-12">
    @if (ViewData["success"] != null)
    {
        <div class="col-12 alert alert-success">
            لطفا ایمیل خود را چک کنید
        </div>
    }
    @if (ViewData["NotFound"] != null)
    {
        <div class="col-12 alert alert-danger">
            حساب کاربری با این مشخصات وجود ندارد
        </div>
    }

    
        <form class="col-8" asp-action="forgetpassword" asp-controller="account"
              method="post" asp-antiforgery="true">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="col-xl-12 col-lg-4 col-md-8 col-sm-12 col-12">
                <label>ایمیل</label>
                <input class="form-control" id="email" name="email" type="email" />
                @*<span asp-validation-for="PersianName" class="validation"></span>*@

            </div>
            <div class="col-4">
                <input type="submit" value="ثبت" style="margin-top:40px;" class="btn btn-success btn-block" />
            </div>
        </form>
        <div class="col-12">
            <a class="btn btn-primary" asp-action="Login" 
               asp-controller="Account" style="float:left">بازگشت به صفحه قبل</a>
        </div>
  

</div>

