@model ForgetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
   // Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>بازیابی رمز عبور</h1>

<div class="row col-12">
    <form asp-action="ResetPassword" asp-controller="account"
          method="post" asp-antiforgery="true">
        <div asp-validation-summary="All"></div>

        <div class="col-12">
            <input asp-for="Email" hidden />
            <input asp-for="Token" hidden />
        </div>

        <div class="col-12">
            <input class="input-group-append" asp-for="Password" placeholder="password" type="password" />
        </div>


        <div class="col-12">
            <input class="input-group-append" asp-for="ConfirmPassword" placeholder="confirm password" type="password" />
        </div>

        <input class="btn btn-success" type="submit" value="ثبت"/>

    </form>
</div>