@model ForgetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>ResetPassword</h1>

<div class="row">
    <form asp-action="ResetPassword" asp-controller="account"
          method="post" asp-antiforgery="true">
        <div asp-validation-summary="All"></div>

        <div class="col-12">
            <input asp-for="Email" hidden />
            <input asp-for="Token" hidden />
        </div>

        <div class="col-12">
            <input asp-for="Password" placeholder="password" type="password" />
        </div>


        <div class="col-12">
            <input asp-for="ConfirmPassword" placeholder="confirm password" type="password" />
        </div>

        <input type="submit" value="send"/>

    </form>
</div>